.sprite-container {
    background-image: url("https://ssl.gstatic.com/gb/images/p1_4d827a84.png");
    background-repeat: no-repeat;
}

.img1,
.img2,
.img3,
.img4 {
    display: inline-block;
    height: 64px;
    width: 64px;
    vertical-align: top;
}

.img1 {
    background-position: 0 -2001px;
}

.img2 {
    background-position: 0 -1242px;
}

.img3 {
    background-position: 0 -68px;
}

.img4 {
    background-position: 0 -136px;
}
