<h2>image sprite test</h2>    
<div>
    <span class="sprite-container img1"></span>
    <span class="sprite-container img2"></span>
    <span class="sprite-container img3"></span>
    <span class="sprite-container img4"></span>
</div>
