@function percent($target, $container) {
    @return calc($target / $container) * 100%;
}

div {
    $container-width: 1000px;
    width: percent(200px, $container-width);
}

@function strip-unit($number) {
    @if type-of($number) == "number" and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    
    @return $number;
}
