@import "functions";

$values: (4px, 8px, 16px, 24px, 32px);

@mixin master-class($property, $array) {
    @each $value in $array {
        $p: strip-unit($value);
        .#{$property}-#{$p} {
            #{$property}: $value;
        }
    }
}

@include master-class("padding", $values); // class generated will be 'padding-4px', 'padding-8px' ...
@include master-class("padding-top", $values);
@include master-class("padding-right", $values);
@include master-class("padding-bottom", $values);
@include master-class("padding-left", $values);
@include master-class("margin", $values); //  class generatd will be 'margin-4px', 'margin-8px', 'margin-16px' ...
@include master-class("margin-top", $values);
@include master-class("margin-right", $values);
@include master-class("margin-bottom", $values);
@include master-class("margin-left", $values);

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}
