<h1 class="hello-world">hello world</h1>

<div class="div-1">
    <h2>font size demo</h2>
    <p>div 1</p>
    <div class="div-2">
        <p>inside div 2</p>
        <div class="div-3">
            <p>inside div 3</p>
        </div>
    </div>
</div>

<!-- function demo map colors -->
<div class="article">
    <h2>colors demo</h2>
    <p class="calm">color 1</p>
    <p class="business">color 2</p>
</div>

<div class="test">
  <p class="padding-100px" style="background: skyblue;">mixin test</p>
</div>
