.hello-world {
    background: var(--primary-color);
    color: var(--body-text);
    font-size: 1rem;
}

.div-1 {
    font-size: 1rem;
}

.div-2 {
    font-size: 1.5em;
}

.div-3 {
    font-size: 1rem;
}

$values-coupled: (
    "4": 4px,
    "8": 8px,
    "16": 16px,
);
$values-single: (4px, 8px, 16px, 24px, 32px);
$colors-map: (
    astrology: #3A0038,
    sports: #E61C5D,
    business: salmon,
    calm: purple,
);

@mixin text-color() {
    @each $cat, $color in $colors-map {
        .#{$cat} {
            color: $color;
        }
    }
}

.article {
    @include text-color;
}
